<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <div class="container">
        <%- include('partials/header.ejs') %>

        <section class="form-cadastro">
            <form action="/editUsers<%= user._id %>" method="POST">
                <h2>Editar Usuario</h2>
                <div class="campo">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="Digite o seu nome" value="<%= user.name %>">
                </div>
                <div class="campo">
                    <label for="age">Idade</label>
                    <input type="number" name="age" id="age" placeholder="Digite a sua idade" value="<%= user.age %>">
                </div>
                <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite o seu e-mail" value="<%= user.email %>">
                </div>
                <div class="btn">
                    <button type="submit">Editar</button>
                </div>
                <div class="msg">
                    <% if(typeof message !== 'undefined') { %>
                        <span><%= message  %></span>
                    <% } %>
                </div>
            </form>
        </section>
    </div>

    <%- include('partials/foot.ejs') %>
</body>
</html>